$bgWhite: #fff9fc;
$bgTwo: #e6e4e4;

$black: #071013;
$white: #fff9fc;
$primary: #44cf6c;
$secondary: #2b59c3;
$gray: #2b2a2e;
$grayTwo: #2d2d30;

$hero: rgb(7, 16, 19, 0.5);
$price: rgb(68, 207, 108, 0.8);
$input: rgb(255, 249, 252, 0.5);
